.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1486819118102-d9171cf69a92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 0;
}
